/BUILD
/Formula/patch-lib/
/VERSION
/bin/jq-*
/bootstrap/brew-util/homebrew-install.sh.original
/codeship.aes
/gitconfig/github-global-gitignore/
/make.sh.successful
/support-firecloud

# artifacts
/sf-ci-echo-benchmark
/some-job-artifact.md

# robot
/robot/*.run
