/BUILD
/Formula/patch-lib/
/VERSION
/bin/jq-*
/codeship.aes
/generic/github-global-gitignore/
/make.sh.successful
/node_modules
/support-firecloud

# artifacts
/sf-ci-echo-benchmark
/some-job-artifact.md
