name: tmate
'on':
  workflow_dispatch:
    inputs:
      runs-on:
        description: jobs.main.runs-on
        required: false
        default: ubuntu-latest
        type: choice
        options:
          - windows-latest
          - windows-2022
          - windows-2019
          - ubuntu-latest
          - ubuntu-22.04
          - ubuntu-20.04
          - ubuntu-18.04
          - macos-latest
          - macos-12
          - macos-11
          - macos-10.15
jobs:
  main:
    timeout-minutes: 30
    name: 'main-${{ github.event.inputs.runs-on }}'
    runs-on: '${{ github.event.inputs.runs-on }}'
    env:
      GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
    steps:
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      # disabled due to https://github.com/mxschmitt/action-tmate/issues/69
      # with:
      #   limit-access-to-actor: true
